@use "./styles/partials/colors" as *;
@use "./styles/partials/breakpoints" as breakpoints;
@use "./styles/partials/resets";
@use "./styles/partials/fonts";

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5rem;
  height: 100vh;
  background-image: url(./assets/images/bg.jpg);
  background-size: cover;
  background-position: 50% 60%;
}
.form {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}
.todo {
  display: flex;
  align-items: center;
  &__input {
    width: 13rem;
    height: 2.5rem;
    border-radius: 4px;
    border: 2px solid $maroon;
    font-weight: 300;
    font-family: "Montserrat";
  }
  &__title {
    color: $chilean-fire;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    text-shadow: 2px 2px 2px $maroon;
    font-size: 2.5rem;
    font-weight: 800;
    font-family: "Montserrat";
  }
  &__btn {
    height: 1.8rem;
    width: 1.8rem;
    margin-left: 0.5rem;
    border: none;
    border-radius: 4px;
    background-color: $orange;
  }
  &__container {
    background-color: $off-white;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
    border-radius: 0.25rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 300;
    font-family: "Montserrat";
    margin: 1rem;
    padding: 0 2rem;
    gap: 1rem;
  }
  &__container button {
    background-color: $off-white;
    border: none;
  }
}
input[type="checkbox"] {
  transform: scale(1.5);
  accent-color: $orange;
}
.trash-icon {
  height: 1.3rem;
  width: 1.3rem;
}
